name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
      - name: Install dependencies
        run: |
          bundle config set --local without 'gruff'
          bundle install
      - name: Run tests
        run: bundle exec rspec
      - name: Report coverage
        uses: paambaati/codeclimate-action@v9.0.0
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
        with:
          # Coverage is already generated in test step, need to run anything again
          coverageCommand: echo '' > /dev/null
