name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
      - name: Install ImageMagick
        run: sudo apt-get update && sudo apt-get install -y libmagickwand-dev
      - name: Install dependencies
        run: bundle install
      - name: Run tests
        run: bundle exec rspec
#      - name: Report coverage
#        # DEPRECATED: paambaati/codeclimate-action is deprecated in favor of qlty-app/qlty-action.
#        uses: paambaati/codeclimate-action@v9.0.0
#        env:
#          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
#        with:
#          # Coverage is already generated in test step, need to run anything again
#          coverageCommand: echo '' > /dev/null
